.filters{
    display: flex;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.card{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    min-height: 100vh;
    background: linear-gradient(45deg, #f8e0b4, #73543a );
}

.containerPages{
    display: flex;
    flex-direction: column;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #f8e0b4, #73543a );
} */