

.filters{
    display: flex;
    padding-top: 30px;
    display:flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 10px;
}

.filterSelect{
    display:flex;
    flex-direction: column;
}

.filterSelect h5{
    margin-bottom: 0;
}

select {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 10px;
    background-color: #fff;
    color: #333;
    width: 85%;
  }
  
  select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  option {
    background-color: #fff;
    color: #333;
  }
  
  option:hover {
    background-color: #007bff;
    color: #fff;
  }

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

.card{
    /* display: flex;
    justify-content:center;
    align-items: center; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    min-height: 100vh;
    background: linear-gradient(45deg, #f8e0b4, #73543a );
}

.resultadosInfo{
  margin-top: 120px;
  margin-bottom: -70px;
}

.cardHome{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
}

.cardSearch{
  
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
}


.containerPages{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    /* min-height: 100vh;    */
}

.containerPages button{
  position:relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 40px;
  background: linear-gradient(90deg , #3e2b1d, #d4a382);
  cursor: pointer;
}

.containerPages button:nth-child(2){
  background: linear-gradient(90deg, #a6c3d9, #f4e6cd);
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #f8e0b4, #73543a );
} */